CompVueloPotencia/fp-lib-table
fp-info-cache
_autosave-CompVueloPotencia.kicad_sch
SupplyBoard\PCB\CompVueloPotencia\SupplyBoardCompVuelo-backups
*.env
*.lck
\#auto_saved_files#
*.kicad_prl
CompVueloPotencia/fp-lib-table
